.hamburger * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hamburger {
  /* display: none; */
  /* flex-direction: column; */
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.hamburger .line {
  display: inline-block;
  height: 20%;
  border-radius: 1rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  transition:
    transform 0.3s,
    opacity 0.2s,
    background-color 0.3s;
}

.hamburger:has(#menu-toggle:checked) .line:nth-of-type(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
}
.hamburger:has(#menu-toggle:checked) .line:nth-of-type(2) {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(-45deg);
}
.hamburger:has(#menu-toggle:checked) .line:nth-of-type(3) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(-45deg);
}

@media (max-width: 690px) {
  header:has(#menu-toggle:checked) .navigation-container {
    display: flex;
    right: 0;
    transition: all 1s;
  }

  header:has(#menu-toggle:checked) .navigation-container button {
    font-size: 1.2rem;
  }
  .navigation-container {
    position: absolute;
    transition: all 1s;
    /* right: -0vw; */
    bottom: -100vh;
    background: rgba(255, 255, 255, 0.9);
    /* top: 1rem; */
    display: none;
    flex-direction: column;
    max-width: 30rem;
    width: 100%;
    gap: 1rem;
    padding: 3rem 1rem;
    height: 100vh;
    z-index: 100;
  }

  .hamburger {
    display: flex;
  }
}

/* CARD CARD FLEXBOX FOR MOBILE */

@media (max-width: 690px) {
  .game-card {
    padding-bottom: 1rem;
  }

  .game-card-description h4 {
    font-size: 1rem;
  }

  .game-card-description p {
    display: none;
  }
}
