.pattern-polka {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 2rem 2rem;
}

.bg-polka {
  background-color: #19253a;
  background-image: radial-gradient(#19253a 1px, #101828 1px);
  background-size: 1rem 1rem;
}
